.lbl{
    background-color: rgb(0, 200, 255);
      color: white;
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      height: 30px;
      width: 180px;
      text-align: center;
  }