<form>

    <div class="firstContainer" style="margin-top: 40px; margin-left: 60px;">
        <div style="width: 50%; float:left; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Candidate Name</label>
            <input type="text" name="cname" />
        </div>

        <div style="width: 50%; float: right; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Aadhar Card</label>
            <input type="text" id="cname" name="cadhar" />
        </div>
    </div>

    <div class="secondContainer" style="margin-top: 40px; margin-left: 60px;">
        <div style="width: 50%; float:left; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Candidate Name</label>
            <input type="text" name="cname" />
        </div>

        <div style="width: 50%; float: right; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Aadhar Card</label>
            <input type="text" id="cname" name="cadhar" />
        </div>
    </div>

    <div class="thirdContainer" style="margin-top: 40px; margin-left: 60px;">
        <div style="width: 50%; float:left; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Candidate Name</label>
            <input type="text" name="cname" />
        </div>

        <div style="width: 50%; float: right; align-items: center; ">
            <label class="lbl" style="margin-right: 20px;">Aadhar Card</label>
            <input type="text" id="cname" name="cadhar" />
        </div>
    </div>

    <div class="fourthContainer" style="margin-top: 40px; margin-left: 60px;">
            <div style="width: 50%; float:left; align-items: center; ">
                <label class="lbl" style="margin-right: 20px;">Candidate Name</label>
                <input type="text" name="cname" />
            </div>

            <div style="width: 50%; float: right; align-items: center; ">
                <label class="lbl" style="margin-right: 20px;">Aadhar Card</label>
                <input type="text" id="cname" name="cadhar" />
            </div>
    </div>


    <div class="fifthContainer" style="margin-top: 40px; margin-left: 60px;">
            <div style="width: 50%; float:left; align-items: center; ">
                    <label class="lbl" style="margin-right: 20px;">Candidate Name</label>
                    <input type="text" name="cname" />
            </div>

            <div style="width: 50%; float: right; align-items: center; ">
                    <label class="lbl" style="margin-right: 20px;">Upload Resume</label>
                    <input type="text" id="cname" name="cadhar" />
            </div>
    </div>


    

</form>